mixin rating(value, ratingClass)
  - var rated = Math.min(value, 5)
  - var left = 5 - rated
  div(class='rating ' + (ratingClass || ''))
    while rated > 0
      - rated--
      svg(enable-background='new 0 0 37 35', version='1.1', viewbox='0 0 37 35', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        polygon(fill='#ffcc00', points='19,0.791 24.646,12.229 37.27,14.064 28.135,22.968 30.291,35.541 19,29.604 7.709,35.541   9.865,22.968 0.73,14.064 13.354,12.229 ')
    while left > 0
      - left--
      svg(enable-background='new 0 0 37 35', version='1.1', viewbox='0 0 37 35', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        polygon(fill='#ffffff', points='19,0.791 24.646,12.229 37.27,14.064 28.135,22.968 30.291,35.541 19,29.604 7.709,35.541   9.865,22.968 0.73,14.064 13.354,12.229 ')